<!DOCTYPE html>
<html lang="en">
<head>
<title>Svatební dary</title>
<meta content="text/html; charset=utf-8" http-equiv="content-type">
<link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="css/userweb.css" type="text/css" media="screen" />

<script type="text/javascript">
	<!--
	function ask(n)
	{
		var a=confirm("Opravdu rezervovat '"+n+"' ?");
		if (a) return true ; else return false ;
	}
	// -->
</script>

</head>
	<div id="page">
		<div id="header">
			<h1>Svatební dary</h1>
			<div class="imgBox">
				<img src="images/main-1.jpg" alt=""/>
			</div>
		</div>
		<div id="content">
			<ul>
				{% for gift in gifts %}
				<li>
					<img src="images/gift.png" alt="" />
					<span class="giftNameBox"><a href="{{ gift.url }}" class="giftName" target="_blank">{{ gift.name }}</a></span>
					{% if gift.reserved %}
						<span class="giftReserved">Rezervováno</span>
					{% else %}
						<a href="?action=res&amp;key={{gift.key}}" class="giftReservation" onclick="return ask('{{gift.name}}');">Rezervovat</a>
					{% endif %}
					<div class="cleaner"></div>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div id="footer">&copy; MaM 2012</div>
	{% if auth %}
	<form method="post">
		<input type="hidden" name="action" value="add">
		<input type="text" name="name" value="polozka xyz">
		<input type="text" name="url" value="http://www.xyz.xx/xxx.html">
		<input type="text" name="order_value" value="0">
		<input type="submit" value="pridat">	
	</form>
	{% endif %}

	</div>
</body>
</html>
