<html>
<script LANGUAGE="JavaScript">
<!--
function ask(n)
{
var a=confirm("Opravdu rezervovat '"+n+"' ?");
if (a) return true ; else return false ;
}
// -->
</script>
<body>

	prehled:<br>
	{% for gift in gifts %}
	gift: {{ gift.name }} <a href="{{ gift.url }}">zde</a> 
	{% if gift.reserved %}
		uz rezervovano

	{% else %}
		<form method="post">
			<input type="hidden" name="action" value="res">
			<input type="hidden" name="key" value="{{gift.key}}">
			<input type="submit" value="rezervovat" onclick="return ask('{{gift.name}}');">	
		</form>
	{% endif %}
	{% if auth %}
		<form method="post">
			<input type="hidden" name="action" value="del">
			<input type="hidden" name="key" value="{{gift.key}}">
			<input type="submit" value="smazat">	
		</form>
		{% if gift.reserved %}
		<form method="post">
			<input type="hidden" name="action" value="unres">
			<input type="hidden" name="key" value="{{gift.key}}">
			<input type="submit" value="odrezervovat">	
		</form>
		{% endif %}
	
	{% endif %}
	<br/>
	{% endfor %}

	{% if auth %}
	<hr>
	<form method="post">
		<input type="hidden" name="action" value="add">
		<input type="text" name="name" value="polozka xyz">
		<input type="text" name="url" value="http://www.xyz.xx/xxx.html">
		<input type="text" name="order_value" value="0">
		<input type="submit" value="pridat">	
	</form>
	{% endif %}

</body>
</html>
