<html>
<body>

	prehled:<br>
	{% for gift in gifts %}
	gift: {{ gift.name }} <a href="{{ gift.url }}">zde</a> 
	{% if gift.reserved %}
		uz rezervovano
	{% else %}
		<form method="post">
			<input type="hidden" name="action" value="res">
			<input type="hidden" name="key" value="{{gift.key}}">
			<input type="submit" value="rezervovat">	
		</form>
	{% endif %}
	<br/>
	{% endfor %}

	{% if auth %}
	<hr>
	<form method="post">
		<input type="hidden" name="action" value="add">
		<input type="submit" value="pridat">	
	</form>
	{% endif %}

</body>
</html>
